<ion-content>
  <div class="main_wrapper">
    <div class="logo"></div>
    <div class="dialog">
      <p>Yondu Exam</p>
    </div>
    <form padding [formGroup]="login_form" (ngSubmit)="onSubmit(login_form)">
      <div class="main_wrapper">
        <div padding>
          <ion-item lines="none">
            <ion-input
              placeholder="Email"
              type="email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <div
            class="alert alert-danger"
            style="text-align: center; color: red; margin-bottom: 10px"
            *ngIf="
                    (!login_form.get('email').valid && login_form.get('email').touched) ||
                    (login_form.get('email').untouched && formSubmitAttempt)
                  "
          >
            Email Pattern Invalid
          </div>
          <ion-item lines="none">
            <ion-input
              placeholder="Password"
              type="password"
              formControlName="password"
              minlength="6"
            ></ion-input>
          </ion-item>
          <div
            class="alert alert-danger"
            style="text-align: center; color: red; margin-bottom: 10px;margin-top:10px;"
            *ngIf="
                  (!login_form.get('password').valid && login_form.get('password').touched) ||
                  (login_form.get('password').untouched && formSubmitAttempt)
                "
          >
            Password Pattern Invalid
          </div>
        </div>
        <div class="register" style="text-align:center;font-style:italic;cursor:pointer" [routerLink]="['/register']">
            <p>Click to register</p>
        </div>
        <div class="login">
          <div class="buttons" padding-horizontal>
            <ion-button
              expand="block"
              color="primary"
              size="large"
              type="submit"
              shape="round"
              [routerLink]="['/register']"
              [disabled]="!login_form.valid"
              ><p>Login</p></ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
